@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #062133;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1a2b40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #05b4f9;
  border-radius: 8px 0px 0px 8px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #05b4f9;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
}
.todo-btn:hover {
  background: #003866;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #05b4f9;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.Todo:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #003866;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.fa-trash {
  margin-left: 0.75rem;
}
.fa-trash:hover {
  color: red;
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #aedbff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.edit-icon:hover {
  color: greenyellow;
}
